<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ML Prediction Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body style="background-color:#28B4C5">
  <main class="prediction-form"> <h1>Enter Data for Prediction:</h1> <br>
    <form action="/predict" method="POST">
      <div class="input-group">
        <label for="user_input1">Weight:</label>
        <input type="number" name="user_input1" id="user_input1" placeholder="Enter Weight">
      </div> 
        <br>
      <div class="input-group">
        <label for="user_input2">Length 1:</label>
        <input type="number" name="user_input2" id="user_input2" placeholder="Enter Length 1">
      </div> 
        <br>
      <div class="input-group">
        <label for="user_input3">Length 2:</label>
        <input type="number" name="user_input3" id="user_input3" placeholder="Enter Length 2">
      </div>
         <br>
      <div class="input-group">
        <label for="user_input4">Length 3:</label>
        <input type="number" name="user_input4" id="user_input4" placeholder="Enter Length 3">
      </div>
         <br>
      <div class="input-group">
        <label for="user_input5">Height:</label>
        <input type="number" name="user_input5" id="user_input5" placeholder="Enter Height">
      </div>
         <br>
      <div class="input-group">
        <label for="user_input6">Width:</label>
        <input type="number" name="user_input6" id="user_input6" placeholder="Enter Width">
      </div>
      <button type="submit">Predict</button>
    </form>
  </main>
</body>
</html>
